# -*- coding: utf-8 -*-
# vim: set syntax=jinja ts=2 sw=2 sts=2 et :

{% import_yaml 'my-config/defaults.yaml' as default_settings %}

{% set template = salt['pillar.get'](
    'template',
    default=default_settings.default_template,
    merge=True
  )
%}

{% set netvm = salt['pillar.get'](
    'netvm',
    default=default_settings.default_netvm,
    merge=True
  )
%}

{% set user = salt['pillar.get'](
    'user',
    default=default_settings.default_user,
    merge=True
  )
%}
